<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/sneakers" method="post">
          <fieldset>
              <legend>Add a New Sneaker</legend>
              <label>
                MODEL:<input class="textbox"
                  type="text"
                  name="model"
                  placeholder="Sneaker Model"
                />
              </label>
              <label>
                COLOR:<input class="textbox"
                  type="text"
                  name="color"
                  placeholder="Sneaker Color"
                />
              </label>
              <label>
                  IMAGE URL:<input class="textbox"
                    type="text"
                    name="image"
                    placeholder="Sneaker Image URL"
                  />
              <label>
                High Top?:<input type="checkbox" name="highTop" />
              </label>
          </fieldset>
          <input class="submitter" type="submit" value="Add new sneaker" />
        </form>
      </div>
    </main>
  </body>
</html>
