a {
    text-align: center;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Canela Text';
}

button, .submitter {
    background-color: black;
    color: white;
    border-radius: 7px;
    width: fill;
    font-size: medium;
    padding: 10px 10px 8px 10px;
    cursor: pointer;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 13em 13em 13em 13em 13em;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
    border-color: black;
    align-content: center;
    place-items: center;

}

div {
    font-size: medium;
    text-align: center;
    border-radius: 7px;
    border-color: black;
    border-width: 5px;
}

fieldset {
    border-radius: 7px;
    width: fill;
    font-size: medium;
    padding: 10px 10px 8px 10px;
    padding: 25px;
    font-size: larger;
}

form {
    place-content: right;
}

h1 {
    font-size: 30px;
    padding: 1em;

}

.header{
    font-size: 47px;
    font: Canela Text Regular;
}

img {
    max-width: 125px;
}

label{
    font-size: 20px;
}

legend{
    font-size: 40px;
}

main {
    display: grid;
}

.newSneakerButton{
    padding: 20px 0px 0px 0px
}

.showImage{
    max-width: 300px;
}

.sneakerbox {
    align-items: center;
    border-radius: 40px;
    border: 7px solid black;
    box-shadow: 0px 0.3px 5px black;
    width: 11.6em;
    position: relative;
    padding: 2em 0 0 0;
}

.textbox{
    text-align: center;
    height: 1.5em;
    font-size: larger;
    padding: 0px;
}

.xButton {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 15px;
    padding: 4px 7px 3px 7px;
}